node_modules

myenv
env

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


/myenv
/website/db.sqlite3 
/website/__pycache__
/website/authentication/__pycache__ 
/website/website/__pycache__
/__pycache__/
/website/authentication/migrations/__pycache__
/website/.env
/website/orders/__pycache__
/website/shops/__pycache__
/website/orders/migrations/__pycache__  
/website/shops/migrations/__pycache__
